//colors
$dk-blue: #467077;
$light-beige: #e8e4de;
$light-blue: #9dbdc4;
$light-orange: #edcea1;
$md-orange: #dbb67f;
$md-brown: #7a5a2c;
$off-white: #f7f4ef;



//sizes
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
